﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage" %>
<!DOCTYPE html>
<html>
<head runat="server">
	<title></title>
</head>
<body>
	<div>
		<h1><%: ViewData["message"] %></h1>
	</div>
</body>
</html>

